body {
  background-color: black;
  text-align: center;
  margin-top: 30px;
}
.button{
  font-size: 20px;
  background-color: red;
  color: white;
  margin: 50px;
  height: 50px;
  width: 100px;
  border-radius: 8%;
  border: 1px solid white;
  
}

.button:hover {
  box-shadow: inset 0px 0px 0px 3px white;
  box-sizing: border-box;
  opacity: 70%;
}

h1{
  color: white;
  font-family: monospace;
  margin: 50px;
}
.panel  {
  width:200px;
  height:200px;
  display: inline-block;
  cursor: pointer;
  border : 2px solid white;
}
.panel:hover {
  box-shadow: inset 0px 0px 0px 3px white;
  box-sizing: border-box;
  opacity: 60%;

}
.bottom-right-panel {
  background-color: red;
  border-bottom-right-radius: 100%;

}
.bottom-left-panel {
  background-color: blue;
  border-bottom-left-radius: 100%;  

}
.top-right-panel {
  background-color: green;
  border-top-right-radius: 100%;

}
.top-left-panel {
  background-color: yellow;
  border-top-left-radius: 100%;

}
.active {
  background-color: white;
}

